.shedule{
    margin-top: 20px;
    padding-top: 50px;
    /* width: 500px;
    height: 5000px; */
    margin-left: 20px;
}
.table{
    width: 1300px;
    margin-right: 20px;
    margin-left: 100px;
}
.bb{
    
    font-size: 13px;
    width: 163px;
    height: 80px;
    
}